
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= asset_path 'sala_cine.jpg' %> );">
  <div class="text-center">
    <h1>Save any kind of Movies</h1>
    <p>Clasic</p>
  </div>
</div>

<div class="container">

  <div class="d-flex align-items-center justify-content-between mt-3">
    <p>My lists</p>
    <%= link_to "Create a New list", new_list_path, class:'btn btn-flat' %>
  </div>

  <div class = "cards mt-2">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url('<%= asset_path('camara_retro.jpg') %>')">
        <%= link_to list.name, list_path(list), class: 'card-text' %>
      </div>

    <% end %>
  </div>


</div>
