.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

  a {
text-decoration: none;
  }
}


.card-text {
  color: white !important;
  text-decoration: none !important;
}

.movie-card{

  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.movie-img {
  object-fit: cover;
  object-position: center;
  height:220px;
  width:100%;

}

.fa-star-yellow{
  color: #FEDE00;
}

.borde{
  margin-top: 20px;
  border-radius: 10px;

  margin-bottom: 40px;
}
