.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.logo {

  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 40px;
  height: 40px;
}

.card li {
  cursor: grab;
}

.card li:active {
  cursor: grabbing;
}

.card li.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}
